<a href="https://colab.research.google.com/github/jackiekuen2/recommender-systems/blob/main/Kaggle_The_Movie_Dataset_Content_based_Recommender_in_cast_keywords_director_genres.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Credits
- https://medium.com/analytics-vidhya/how-to-fetch-kaggle-datasets-into-google-colab-ea682569851a
- https://www.kaggle.com/general/74235

In [1]:
!pip install -q kaggle

In [ ]:
from google.colab import files

files.upload()

In [3]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json

kaggle.json

In [4]:
!kaggle datasets download -d rounakbanik/the-movies-dataset

Downloading the-movies-dataset.zip to /content
 95% 217M/228M [00:01<00:00, 153MB/s]
100% 228M/228M [00:01<00:00, 128MB/s]

In [5]:
!unzip \*.zip  && rm *.zip

Archive:  the-movies-dataset.zip
  inflating: credits.csv
  inflating: keywords.csv
  inflating: links.csv
  inflating: links_small.csv
  inflating: movies_metadata.csv
  inflating: ratings.csv
  inflating: ratings_small.csv

In [6]:
import pandas as pd

In [7]:
# Load movie metadata
metadata = pd.read_csv('movies_metadata.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
# Top 5 movies by Revnue
metadata.sort_values(by='revenue', ascending=False).head(5)

       adult  ... vote_count
14551  False  ...    12114.0
26555  False  ...     7993.0
1639   False  ...     7770.0
17818  False  ...    12000.0
25084  False  ...     8842.0

[5 rows x 24 columns]

In [9]:
metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

# II. Content-based Recommender in actors, directors, genres and plot keywords
- Based on: top 3 actors, director, genres, movie plot keywords

In [10]:
# cast dataset
credits = pd.read_csv('credits.csv')

# plot keywords
keywords = pd.read_csv('keywords.csv')

In [11]:
# Remove bad IDs
metadata = metadata.drop([19730, 29503, 35587])

# Convert IDs to integers
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

# Merge keywords and credits into metadata as main dataset
metadata = metadata.merge(right=credits, on='id')
metadata = metadata.merge(right=keywords, on='id')

In [12]:
# Preview
metadata.head()

   adult  ...                                           keywords
0  False  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  False  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  False  ...  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  False  ...  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  False  ...  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

[5 rows x 27 columns]

In [13]:
%%time
# Parse the stringified features
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

CPU times: user 33.5 s, sys: 1.16 s, total: 34.7 s
Wall time: 34.7 s

## Function: Top 3

In [14]:
import numpy as np

def get_director(x):
    for i in x:
        if i['job']=='Director':
            return i['name']
    return np.nan

# Extract top 3 elements
def get_tops(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        if len(names) > 3:
            names = names[:3]
        return names
    return [] # Return empty list in case of missing information

In [15]:
%%time
metadata['director'] = metadata['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(get_tops)

CPU times: user 807 ms, sys: 6.8 ms, total: 814 ms
Wall time: 813 ms

In [16]:
# Preview
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head()

                         title  ...                        genres
0                    Toy Story  ...   [Animation, Comedy, Family]
1                      Jumanji  ...  [Adventure, Fantasy, Family]
2             Grumpier Old Men  ...             [Romance, Comedy]
3            Waiting to Exhale  ...      [Comedy, Drama, Romance]
4  Father of the Bride Part II  ...                      [Comedy]

[5 rows x 5 columns]

## Cleansing
- lowercase
- strip all spaces

In [17]:
def clean_data(x):
    # cast, keywords, genres are list
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        # If director doesn't exist, return empty list
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [18]:
%%time
features = ['cast', 'keywords', 'genres', 'director']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

CPU times: user 387 ms, sys: 1.08 ms, total: 388 ms
Wall time: 387 ms

## Create metadata soup
- A string that contains all the metadata that is used to feed to vectorizer

In [19]:
def create_soup(x):
    return " ".join(x['keywords']) + " " + " ".join(x['cast']) + " " + x['director'] + " " + " ".join(x['genres'])

In [20]:
%%time
metadata['soup'] = metadata.apply(create_soup, axis=1)

CPU times: user 1.04 s, sys: 845 µs, total: 1.04 s
Wall time: 1.04 s

In [21]:
metadata['soup'][:10]

0    jealousy toy boy tomhanks timallen donrickles ...
1    boardgame disappearance basedonchildren'sbook ...
2    fishing bestfriend duringcreditsstinger walter...
3    basedonnovel interracialrelationship singlemot...
4    baby midlifecrisis confidence stevemartin dian...
5    robbery detective bank alpacino robertdeniro v...
6    paris brotherbrotherrelationship chauffeur har...
7     jonathantaylorthomas bradrenfro rachaelleighc...
8    terrorist hostage explosive jean-claudevandamm...
9    cuba falselyaccused secretidentity piercebrosn...
Name: soup, dtype: object

## Count Vectorizer
- you do not want to down-weight the actor/director's presence if he or she has acted or directed in relatively more movies
- The major difference between CountVectorizer() and TF-IDF is the inverse document frequency (IDF) component which is present in later and not in the former

In [22]:
%%time
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata['soup'])

CPU times: user 888 ms, sys: 27.2 ms, total: 916 ms
Wall time: 1.01 s

In [23]:
count_matrix.shape

(46628, 73881)

## Cosine similarity

In [24]:
%%time
from sklearn.metrics.pairwise import cosine_similarity
# from sklearn.metrics.pairwise import linear_kernel


cosine_sim2 = cosine_similarity(count_matrix, count_matrix)
# cosine_sim2 = linear_kernel(count_matrix, count_matrix)

CPU times: user 11.7 s, sys: 11.4 s, total: 23.1 s
Wall time: 23.1 s

## Get top recomendations

In [25]:
# Reset index
metadata = metadata.reset_index()
indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()

In [26]:
# top 10 movies with similar descriptions
def get_recommendations(title, cosine_sim, topk=10):
    # Get the index of target movie
    idx = indices[title]
    # Get pairwise similariy scores of all movies that are similar to target movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    # Reversed-Sort the sim scores
    sim_scores = sorted(sim_scores, key=lambda x:x[1], reverse=True)
    # Get the top k, except the first one (the movie itself)
    sim_scores = sim_scores[1:topk]
    movie_indices = [i[0] for i in sim_scores]
    # return pd.DataFrame(metadata['title'].iloc[movie_indices])
    rec_results = pd.DataFrame(metadata['title'].iloc[movie_indices])
    rec_results['sim_scores'] = [i[1] for i in sim_scores]
    return rec_results

In [28]:
get_recommendations('Jurassic World', cosine_sim2)

                                title  sim_scores
22889              Behind Enemy Lines    0.447214
1494    The Lost World: Jurassic Park    0.400000
1932                             Dune    0.400000
8739                 Gamera vs. Jiger    0.400000
10212            Godzilla: Final Wars    0.400000
18193  Prisoners of the Lost Universe    0.400000
22792                Gamera vs. Viras    0.400000
22906               Gamera vs. Guiron    0.400000
23948         Guardians of the Galaxy    0.400000

In [27]:
get_recommendations('The Dark Knight Rises', cosine_sim2)

                   title  sim_scores
12589    The Dark Knight    0.800000
10210      Batman Begins    0.700000
9311              Shiner    0.478091
9874     Amongst Friends    0.424264
7772            Mitchell    0.422577
516    Romeo Is Bleeding    0.400000
11463       The Prestige    0.400000
24090          Quicksand    0.400000
25038           Deadfall    0.400000

In [29]:
get_recommendations('The Godfather', cosine_sim2)

                                title  sim_scores
1934          The Godfather: Part III    0.527046
1199           The Godfather: Part II    0.421637
15609                 The Rain People    0.408248
18940                       Last Exit    0.384900
34488                            Rege    0.384900
35802          Manuscripts Don't Burn    0.384900
35803          Manuscripts Don't Burn    0.384900
8001   The Night of the Following Day    0.377964
18261               The Son of No One    0.377964